apiVersion: v2
name: featurehub
description: FeatureHub Release
type: application
version: 3.1.0
icon: https://github.com/featurehub-io/featurehub/blob/main/docs/modules/ROOT/images/fh_icon.png
appVersion: "1.5.8"
dependencies:
  - name: postgresql
    version: 11.0.5
    repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
    condition: postgresql.enabled
  - name: nats
    version: 0.13.1
    repository: https://nats-io.github.io/k8s/helm/charts/
    condition: nats.enabled

